@{
    Business.MenuModel menuModel = new Business.MenuModel();
    var list = menuModel.GetMenu();
    
    
    
}
<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone">
        </div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li class="start active " style="margin-top:10px"><a href="@Url.Action("Home", "Home")"><i class="icon-home">
    </i><span class="title">首页</span> <span class="selected"></span></a></li>
    @foreach (var item in list)
    {
        if (item.Menus == null || item.Menus.Count == 0)
        { 
        <li class=""><a href="@Url.Action(item.Action, item.Controller)"><i class="icon-home">
        </i><span class="title">
            @item.ShowName</span> <span class="selected"></span></a></li>
        }
        else
        { 
        <li class=""><a href="javascript:;"><i class="icon-bookmark-empty"></i><span class="title">
            @item.ShowName</span> <span class="arrow "></span></a>
            <ul class="sub-menu">
                @foreach (var subMenu in item.Menus)
                {
                    <li><a href="@Url.Action(subMenu.Action, subMenu.Controller)">@subMenu.ShowName</a>
                    </li>
                }
            </ul>
        </li>
        }
    }
</ul>
