@{
    ViewBag.Title = @ViewBag.CName + "-公司账号" ;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
@model List<Entity.CompanyAccount>
<div class="row-fluid">
     
    <div class="span12" style="width: 100%">
        <a href="@Url.Action("Add", "CompanyAccount", new {CID = ViewBag.CID })" class="btn blue" style=" width:100px">添加账号</a><br /><br />
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@ViewBag.CName 账号列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            登陆账号
                        </th>
                        <th>
                            姓名
                        </th>
                        <th style="width: 20%">
                            操作
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.AccountNumber
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "CompanyAccount", new { CID = ViewBag.CID, AccountID =item.ID})">修改</a> 
                                <a>删除</a>  
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
