@{
    ViewBag.Title = ViewBag.Year + "年实际损益月份列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper GetInfo(int Month)
    {
        Business.ProfitLossReality_MainModel pmmodel = new Business.ProfitLossReality_MainModel();
        Entity.ProfitLossReality_Main item = pmmodel.GetRM_ByYID_Month_CID(ViewBag.YearID, Month, ViewBag.CID);
        if (item != null)
        {
            if (item.IsReport)
            {
                <span style="color: #35aa47">已上报</span>
            }
            else
            {
                @Ajax.ActionLink("上报", "ReportProfitLossActula", "ProfitLoss", new { YearID = ViewBag.YearID, Month = Month }, new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "if (confirm('你确定要上报吗')) {return true }" }, new { @class = "tooltips", style = "color: #4d8bf8; cursor: pointer", data_placement = "top", data_original_title = "注意：上报后不可更改。" })
            }
        }
        else
        {
            <span style="color: #e02222">未填写预算</span>
        }
}
@section scripts{

}
<div class="row-fluid">
    <div class="span6" style="width: 100%">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@ViewBag.Year 年实际损益月份列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            月份
                        </th>
                        <th style="width: 20%">
                            操作
                        </th>
                    </tr>

                    
                    @for(int i = 1; i < 13; i++)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("RealityDetail", "ProfitLoss", new { YearID = ViewBag.YearID, Month = i })">@(i)月份实际数据</a>
                            </td>
                            <td>
                                @GetInfo(i)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
