@{
    ViewBag.Title = ViewBag.Year + "年实际损益月份列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper GetInfo(Entity.ProfitLossReality_Detail detail, int month, int week)
    {
        if (detail == null)
        { 
    <span style="color: #e02222"><a href="@Url.Action("RealityDetail", "ProfitLoss", new { YearID = ViewBag.YearID, Month = month, Week = week })">
        未填写预算</a></span>
        }
        else
        {
            string value = "未填写预算";
            switch (detail.Status)
            {
                case 0:
                    value = "未填写预算";
                    break;
                case 1:
                    value = "已填写预算";
                    break;
                case 2:
                    value = "已申请修改";
                    break;
                case 3:
                    value = "已同意修改";
                    break;
                case 4:
                    value = "未同意修改";
                    break;
            }
    <span style="color: #e02222"><a href="@Url.Action("RealityDetail", "ProfitLoss", new { YearID = ViewBag.YearID, Month = month, Week = week })">
        })">@value</a></span>
        }
}
@section scripts{
}
@model List<Entity.ProfitLossReality_Main>
<div class="row-fluid">
    <div class="span6" style="width: 100%">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@ViewBag.Year 年实际损益月份列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <tr>
                        <th>
                            月份
                        </th>
                        <th>
                            第1周
                        </th>
                        <th>
                            第2周
                        </th>
                        <th>
                            第3周
                        </th>
                        <th>
                            第4周
                        </th>
                    </tr>
                    @for (int i = 1; i < 13; i++)
                    {
                        if (Model.Count != 0)
                        {
                            var item = Model[i - 1];
                            if (item != null)
                            {
                                var details = item.ProfitLossReality_Details.ToList();
                        <tr>
                            <td>
                                @(i)月份实际数据
                            </td>
                            <td>
                                @GetInfo(details[0], i, 1)
                            </td>
                            <td>
                                @GetInfo(details[1], i, 2)
                            </td>
                            <td>
                                @GetInfo(details[2], i, 3)
                            </td>
                            <td>
                                @GetInfo(details[3], i, 4)
                            </td>
                        </tr>
                                continue;
                            }
                        }
                        <tr>
                            <td>
                                @(i)月份实际数据
                            </td>
                            <td>
                                @GetInfo(null, i, 1)
                            </td>
                            <td>
                                @GetInfo(null, i, 2)
                            </td>
                            <td>
                                @GetInfo(null, i, 3)
                            </td>
                            <td>
                                @GetInfo(null, i, 4)
                            </td>
                        </tr>
                        
                    }
                </table>
            </div>
        </div>
    </div>
</div>
