@{
    ViewBag.Title = "损益实际数据";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.List as List<Entity.ProfitLossReality_Detail>;
    bool hasData = (list == null || list.Count == 0) ? false : true;
    var ProfitLoss_Detailed = ViewBag.ProfitLoss_Detailed as Entity.ProfitLoss_Detailed;
    
}
<style>
    .itext
    {
        width: 80px;
        margin: 0px !important;
        height: 10px !important;
    }
    .itable td
    {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }
    .idiv1
    {
        margin-left: 26px !important;
        padding: 0px !important;
    }
    .idiv2
    {
        margin-left: 52px !important;
        padding: 0px !important;
    }
    .icolor, .icolor:hover > td, .icolor:hover > th, .icolor td:hover
    {
        background-color: #FFFFCC !important;
    }
    .icolor_red
    {
        color: Red;
    }
    .icolor_green
    {
        color: Green;
    }
    .yelabel,yslabel
    {
        margin-bottom:0px !important;
        }
</style>
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue" style="margin-top: 10px;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>损益实际</div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover itable">
                    <thead>
                        <tr>
                            <th style="width: 140px;">
                                项目
                            </th>
                            @for (int i = 1; i < 5; i++)
                            {
                                <th row="@i" class="itr">
                                    第@(i)周
                                </th>
                            }
                            <th style="width: 250px;">
                                本月发生余额
                            </th>
                            <th style="width: 250px;">
                                2015年预算
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="jstr" id="tr_xiaoshoushuliang">
                            <td>
                                销售数量
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zslabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].XiaoShouShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.XiaoShouShuLiang</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_xinchexiaoshoushuliang">
                            <td>
                                <div class="idiv1">
                                    新车销售数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].XinCheXiaoShouShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.XinCheXiaoShouShuLiang</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_weixiujinchangtaici">
                            <td>
                                <div class="idiv1">
                                    维修进场台次</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].WeiXiuJinChangTaiCi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.WeiXiuJinChangTaiCi</label>
                            </td>
                        </tr>
                        <tr id="tr_fenqishuliang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    分期数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].FenQiShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.FenQiShuLiang</label>
                            </td>
                        </tr>
                        <trid="tr_xinbaoshuliang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    新保数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].XinBaoShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.XinBaoShuLiang</label>
                            </td>
                        </tr>
                        <tr id="tr_xubaoshuliang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    续保数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].XuBaoShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.XuBaoShuLiang</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_yanbaoshuliang">
                            <td>
                                <div class="idiv1">
                                    延保数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].YanBaoShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.YanBaoShuLiang</label>
                            </td>
                        </tr>
                        <tr id="tr_guapaishuliang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    挂牌数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].GuaPaiShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.GuaPaiShuLiang</label>
                            </td>
                        </tr>
                        <tr id="tr_ershouchexiaoshoushuliang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    二手车销售数量</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ErShouCheXiaoShouShuLiang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ErShouCheXiaoShouShuLiang</label>
                            </td>
                        </tr>
                        <tr id="tr_zhuyingyewushouru" class="readonly icolor jstr">
                            <td>
                                主营业务收入
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingYeWuShouRu</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingYeWuShouRu</label>
                            </td>
                        </tr>
                        <tr id="tr_zhengche" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    整车</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_ZhengChe</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_ZhengChe</label>
                            </td>
                        </tr>
                        <tr id="tr_shouhouweixiu" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    售后维修</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_ShouHouWeiXiu</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_ShouHouWeiXiu</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_weixiupeijian">
                            <td>
                                <div class="idiv2">
                                    维修配件</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_WeiXiuPeiJian</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_WeiXiuPeiJian</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_gongshi">
                            <td>
                                <div class="idiv2">
                                    工时</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_GongShi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_GongShi</label>
                            </td>
                        </tr>
                        <tr id="tr_zhuangshizhuanghuang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    装饰装潢</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_ZhuangShiZhuangHuang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_ZhuangShiZhuangHuang</label>
                            </td>
                        </tr>
                        <tr id="tr_yongjin" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    佣金</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_YongJin</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_YongJin</label>
                            </td>
                        </tr>
                        <tr id="tr_fenqi" class="readonly jstr">
                            <td>
                                <div class="idiv2">
                                    分期</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_FenQi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_FenQi</label>
                            </td>
                        </tr>
                        <tr id="tr_baoxian" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    保险</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_BaoXian</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_BaoXian</label>
                            </td>
                        </tr>
                        <tr id="tr_xinbao" class="readonly jstr">
                            <td>
                                <div class="idiv2">
                                    新保</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_XinBao</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_XinBao</label>
                            </td>
                        </tr>
                        <tr id="tr_xubao" class="readonly jstr">
                            <td>
                                <div class="idiv2">
                                    续保</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_XuBao</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_XuBao</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_yanbao">
                            <td>
                                <div class="idiv1">
                                    延保</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_YanBao</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_YanBao</label>
                            </td>
                        </tr>
                        <tr id="tr_guapai" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    挂牌</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_GuaPai</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_GuaPai</label>
                            </td>
                        </tr>
                        <tr id="tr_ershouche" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    二手车</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_ErShouChe</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_ErShouChe</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_qita">
                            <td>
                                <div class="idiv1">
                                    其他</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingShouRu_QiTa</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingShouRu_QiTa</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_zhuyingyewuchengben" class="readonly icolor jstr">
                            <td>
                                减：主营业务成本
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingYeWuChengBen</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingYeWuChengBen</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_zhengche" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    整车</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_ZhengChe</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_ZhengChe</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_shouhouweixiu" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    售后维修</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_ShouHouWeiXiu</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_ShouHouWeiXiu</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_weixiupeijian" class="readonly jstr">
                            <td>
                                <div class="idiv2">
                                    维修配件</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_WeiXiuPeiJian</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_WeiXiuPeiJian</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_gongshi">
                            <td>
                                <div class="idiv2">
                                    工时</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_GongShi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_GongShi</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_zhuangshizhuanghuang" class="readonly jstr">
                            <td>
                                <div class="idiv1">
                                    装饰装潢</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_ZhuangShiZhuangHuang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_ZhuangShiZhuangHuang</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_yongjin" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    佣金</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_YongJin</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_YongJin</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_fenqi">
                            <td>
                                <div class="idiv2">
                                    分期</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_FenQi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_FenQi</label>
                            </td>
                        </tr>
                        <tr id="tr_jian_baoxian" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    保险</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_BaoXian</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_BaoXian</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_xinbao">
                            <td>
                                <div class="idiv2">
                                    新保</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_XinBao</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_XinBao</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_xubao">
                            <td>
                                <div class="idiv2">
                                    续保</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_XuBao</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_XuBao</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_yanbao">
                            <td>
                                <div class="idiv1">
                                    延保</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_YanBao</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_YanBao</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_guapai">
                            <td>
                                <div class="idiv1">
                                    挂牌</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_GuaPai</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_GuaPai</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_ershouche">
                            <td>
                                <div class="idiv1">
                                    二手车</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_ErShouChe</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_ErShouChe</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_jian_qita">
                            <td>
                                <div class="idiv1">
                                    其他</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingChengBen_QiTa</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingChengBen_QiTa</label>
                            </td>
                        </tr>
                        <tr id="tr_maoli" class="readonly icolor jstr">
                            <td>
                                毛利
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].MaoLi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.MaoLi</label>
                            </td>
                        </tr>
                        <tr id="tr_mao_zhengche" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    整车</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].MaoLi_ZhengChe</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.MaoLi_ZhengChe</label>
                            </td>
                        </tr>
                        <tr id="tr_mao_shouhouweixiu" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    维修</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].MaoLi_WeiXiu</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.MaoLi_WeiXiu</label>
                            </td>
                        </tr>
                        <tr id="tr_mao_zhuangshizhuanghuang" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    装饰装潢</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].MaoLi_ZhuangShiZhuangHuang</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.MaoLi_ZhuangShiZhuangHuang</label>
                            </td>
                        </tr>
                        <tr id="tr_mao_yongjin" class="readonly icolor jstr">
                            <td>
                                <div class="idiv1">
                                    佣金</div>
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].MaoLi_YongJin</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.MaoLi_YongJin</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_zhuyingyewushuijinjifujia">
                            <td>
                                主营业务税金及附加
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingYeWuShueiJinJiFuJia</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingYeWuShueiJinJiFuJia</label>
                            </td>
                        </tr>
                        <tr id="tr_zhuyingyewufujiashuihoumaoli" class="readonly icolor jstr">
                            <td>
                                主营业务附加税后毛利
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZhuYingYeWuFuJiaShuiHouMaoLi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZhuYingYeWuFuJiaShuiHouMaoLi</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_qitayewushouru">
                            <td>
                                其他业务收入
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].QiTaYeWuShouRu</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.QiTaYeWuShouRu</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_qitayewuchengben">
                            <td>
                                其他业务成本
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].QiTaYeWuChengBen</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.QiTaYeWuChengBen</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_qitayewushuijinjifujia">
                            <td>
                                其他业务税金及附加
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].QiTaYeWuShuiJinJiFuJia</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.QiTaYeWuShuiJinJiFuJia</label>
                            </td>
                        </tr>
                        <tr id="tr_qitayewulirun" class="readonly icolor jstr">
                            <td>
                                其他业务利润
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].QiTaYeWuLiRun</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.QiTaYeWuLiRun</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_xiaoshoujiguanlifeiyong">
                            <td>
                                销售及管理费用
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].XiaoShouJiGuanLiFeiYong</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.XiaoShouJiGuanLiFeiYong</label>
                            </td>
                        </tr>
                        <tr id="tr_xishuiqianlirun" class="readonly icolor jstr">
                            <td>
                                息税前利润
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].XiShueiQianLiRun</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.XiShueiQianLiRun</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_caiwufeiyong">
                            <td>
                                财务费用
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].CaiWuFeiYong</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.CaiWuFeiYong</label>
                            </td>
                        </tr>
                        <tr id="tr_yingyelirun" class="readonly icolor jstr">
                            <td>
                                营业利润
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].YingYeLiRun</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.YingYeLiRun</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_zichanjianzhisunshi">
                            <td>
                                资产减值损失
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ZiChanJianZhiSunShi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ZiChanJianZhiSunShi</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_gongyunjiazhibiandongshouyi">
                            <td>
                                公允价值变动收益
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].GongYunJiaZhiBianDongShouYi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.GongYunJiaZhiBianDongShouYi</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_touzishouyi">
                            <td>
                                投资收益
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].TouZiShouYi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.TouZiShouYi</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_yingyewaishouzhijinge">
                            <td>
                                营业外收支净额
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].YingYeWaiShouZhiJingE</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.YingYeWaiShouZhiJingE</label>
                            </td>
                        </tr>
                        <tr id="tr_lirunzonge" class="readonly icolor jstr">
                            <td>
                                利润总额
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].LiRunZongE</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.LiRunZongE</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_suodeshui">
                            <td>
                                所得税
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].SuoDeShui</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.SuoDeShui</label>
                            </td>
                        </tr>
                        <tr id="tr_shuihoulirun" class="readonly icolor jstr">
                            <td>
                                税后利润
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ShueiHouLiRun</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ShueiHouLiRun</label>
                            </td>
                        </tr>
                        <tr class="jstr" id="tr_shaoshugudongsunyi">
                            <td>
                                少数股东损益
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].ShaoShuGuDongSunYi</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.ShaoShuGuDongSunYi</label>
                            </td>
                        </tr>
                        <tr id="tr_jinglirun" class="readonly icolor jstr">
                            <td>
                                净利润
                            </td>
                            @for (int i = 1; i < 5; i++)
                            {
                                <td>
                                    @if (!hasData)
                                    { 
                                        <label class="zsLabel" row="@i"></label>
                                    }
                                    else
                                    {
                                        <label class="zslabel" row="@i">@list[i - 1].JingLiRun</label>
                                    }
                                </td>
                            }
                            <td>
                                <label class="yelabel">
                                </label>
                            </td>
                            <td>
                                <label class="yslabel">@ProfitLoss_Detailed.JingLiRun</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    
        //获取数值
        function getValue(obj) {
            var value = 0;
            if ($(obj).text().length == 0) {
                value = 0;
            } else {
                if (isNaN($(obj).val())) {
                    $(obj).text("0");
                }
                value = parseFloat($(obj).text());
            }
            return value;
        }
        $(function () {
            $(".itable .jstr").each(function (i, n) {
                var week1 = getValue($(n).find(".zslabel[row='1']"));
                var week2 = getValue($(n).find(".zslabel[row='2']"));
                var week3 = getValue($(n).find(".zslabel[row='3']"));
                var week4 = getValue($(n).find(".zslabel[row='4']"));
                var week = week1 + week2 + week3 + week4;
                var ysLabel = $(n).find(".yslabel");
                var yeLabel = $(n).find(".yelabel");
                var balance = parseFloat((week - ysLabel.text()).toFixed(13));
                if (balance < 0) {
                    yeLabel.text(balance).addClass("icolor_red").removeClass("icolor_green");
                } else {
                    yeLabel.text(balance).addClass("icolor_green").removeClass("icolor_red");
                }
            });
        });

    </script>
}
