@{
    ViewBag.Title = ViewBag.CompanyName + ViewBag.Year + "年损益预算明细";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var DtTitle = ViewBag.DtTitle as System.Data.DataTable;
}
@section scripts{
    <script>
        $(function () {
            var Tab_Main_td_length = $("#Tab_Main").find("tr:eq(0)").find("td").length;
            $("#Tab_Main").find("tr:eq(0)").find("td").each(function (i, element) {
                if(i!=0&&i!=(Tab_Main_td_length-1))
                {
                var url = "@Url.Action("ActualMonth", "ProfitLoss", new { YearID = ViewBag.YearID, CID = ViewBag.CID })"+"&Month="+i;
                
                $(this).html("<a class='tooltips' data-placement='top' data-original-title='点击查看实际信息' href = '"+url+"' style = 'color:#0d638f; font-weight:bold' >"+$(this).text()+"</a>");
                }
            });

            $("#Tab_Main").find("tr").each(function (i, element) {
                if(i==10||i==12||i==16||i==20||i==22||i==29||i==31||i==35||i==37||i==44||i==45||i==46||i==47||i==48||i==50||i==54||i==55||i==56||i==57||i==58||i==63||i==65||i==67)
                {
                    $(this).addClass("icolor");
                }
            });

            $("#Sel_type").val(@ViewBag.Type);


           //修改“销售数量”为“销售数据”，增加“财务数据”
           var td_count= parseInt(@Model.Rows.Count);
           $(".销售数量").parent().find("td").html("");
           $(".销售数量").html("<b>销售数据</b>");
           var html_tr="<tr><td><b>财务数据</b></td>";
           for (var i = 0; i < td_count; i++) {
                html_tr+="<td></td>";
           }
           html_tr+="</tr>";
           $(".请输入主营业务收入").parent().before(html_tr);
        });

        function Select()
        {
            $("#Type").val($("#Sel_type").val());
            sub_btn.click();
        }

    </script>
    <style>
        .icolor, .icolor:hover > td, .icolor:hover > th, .icolor td:hover
    {
        background-color: #FFFFCC !important;
    }
    
    .page-content
    {
        min-width:1330px;    
    }
   
    </style>
}
@model System.Data.DataTable
    @using (Html.BeginForm("CompanyDetail", "ProfitLoss", FormMethod.Get, new { enctype = "multipart/form-data" }))
    { 
     <input  type="hidden" id="ComPanyID" name="ComPanyID" value="@ViewBag.CID"/>
     <input  type="hidden" id="YearID" name="YearID"  value="@ViewBag.YearID"/>
     <input  type="hidden" id="Type" name="Type"/>
     <button type="submit" id="sub_btn" style=" display:none"></button>
    }
 
<div class="row-fluid">
    <div class="span12" style="width: 100%">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@(ViewBag.CompanyName)@(ViewBag.Year)年损益预算明细
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-hover">
                    <tr>
                        <td style="font-size: 14px; color: #e02222">
                            <select id="Sel_type" onchange="Select()">
                                <option value="0">预算</option>
                                <option value="1">实际</option>
                            </select>
                            <br />
                            点击月份 可查看月份实际明细
                        </td>
                    </tr>
                </table>
                <table class="table table-hover" id="Tab_Main">
                    @for (int i = 0; i < DtTitle.Columns.Count; i++)
                    {
                        <tr>
                            @for (int j = 0; j < DtTitle.Rows.Count; j++)
                            {
                                <td style="width: 135px;" class="@DtTitle.Rows[j][i]">
                                    @DtTitle.Rows[j][i]
                                </td>
                            }
                            @for (int j = 0; j < Model.Rows.Count; j++)
                            {
                                <td>
                                    @Model.Rows[j][i]
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>
