@{
    ViewBag.Title = "损益预算统计";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Ncompany = ViewBag.Ncompany as List<Entity.Company>;

    var DtTitle = ViewBag.DtTitle as System.Data.DataTable;
}
@section scripts{
    <script>
        $(function () {
            var Tab_Main_td_length = $("#Tab_Main").find("tr:eq(0)").find("td").length;
            $("#Tab_Main").find("tr").each(function (i, element) {
                if(i==10||i==12||i==16||i==20||i==22||i==29||i==31||i==35||i==37||i==44||i==45||i==46||i==47||i==48||i==50||i==54||i==55||i==56||i==57||i==58||i==63||i==65||i==67)
                {
                    $(this).addClass("icolor");
                }
            });

            $("#Sel_type").val(@ViewBag.Type);

           //修改“销售数量”为“销售数据”，增加“财务数据”
           var td_count= parseInt(@Model.Rows.Count);
           $(".销售数量").parent().find("td").html("");
           $(".销售数量").html("<b>销售数据</b>");
           var html_tr="<tr><td><b>财务数据</b></td>";
           for (var i = 0; i < td_count; i++) {
                html_tr+="<td></td>";
           }
           html_tr+="</tr>";            
           $(".请输入主营业务收入").parent().before(html_tr);
        });

    </script>
    <style>
        .icolor, .icolor:hover > td, .icolor:hover > th, .icolor td:hover
        {
            background-color: #FFFFCC !important;
        }
    </style>
}
@model System.Data.DataTable
<div class="row-fluid">
    <div class="span6" style="width: 100%">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cogs"></i>@(ViewBag.Year)年损益预算统计列表
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.Rows.Count > 0)
                {
                    <table class="table table-hover">
                        <tr>
                            <td style="font-size: 14px; color: #e02222">
                                @foreach (var item in Ncompany)
                                {
                                    @(item.Name)@:
                                                                                                                                                                                                                                }
                                @if (Ncompany.Count > 0)
                                {
                                    @:尚未上报数据<br />
                                                                                                                                                                                                }
                                点击公司名称可查看月份明细 与 实际数据
                            </td>
                        </tr>
                    </table>
                    <table class="table table-hover" id="Tab_Main">
                        @for (int i = 1; i < DtTitle.Columns.Count; i++)
                        {
                            <tr>
                                @for (int j = 0; j < DtTitle.Rows.Count; j++)
                                {
                                    <td style="width: 130px" class="@DtTitle.Rows[j][i]">
                                        @DtTitle.Rows[j][i]
                                    </td>
                                }
                                @for (int j = 0; j < Model.Rows.Count; j++)
                                {

                                    if (i == 1)
                                    {
                                    <td style="font-weight: bold">
                                        <a class="tooltips" data-placement="top" data-original-title="点击查看明细" href="@Url.Action("CompanyDetail", "ProfitLoss", new { ComPanyID = @Model.Rows[j][0], YearID = ViewBag.YearID, Type = 0 })" target="_blank">@Model.Rows[j][i]</a>
                                    </td>
                                    }
                                    else
                                    { 
                                    <td style="">
                                        @Model.Rows[j][i]
                                    </td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                }
                else
                { 
                    <table class="table table-hover">
                        <tr>
                            <td style="font-size: 16px; color: #4d8bf8">
                                暂无公司上报数据
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
